{% extends 'base.html.twig' %}


{% block body %}
 <ul>
        <li> {{user.firstname}} </li>
        <li> {{user.lastname}} </li>
        <li> {{user.email}} </li>
        <li> {{user.birthday | date}} </li>
        <ul> <b><u> Liste d'article </u></b>

        {% for article in user.articles %}
            <li>
                <a href="{{ path("articleBy")}}" > {{article.id}}  - {{article.name}}  -  {{article.createdAt|date}} </a>
            </li>
        {% endfor %} 
        </ul>
    </ul>
<hr />

{% endblock %}