{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <ul>
        {% for article in articles %}
            <li>
                {{article.id}}  - {{article.name}}  -  {{article.createdAt|date}} - {{article.content}} -
            </li>
        {% endfor %}
    </ul>
    <hr />
    {# We can create a new article only when the authenticated it's ok #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
</div>
{% endblock %}
