{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>La liste des utilisateurs</h1>

    <ul>
        {% for user in users %}
            <li>
                {{user.id}}  - {{user.firstname}}  -  {{user.lastname}} - {{user.email}} - {{user.birthday|date}} 
            </li>
        {% endfor %}
    </ul>
<hr />

{{ form_start(form) }}
{{ form_row(form.firstname) }}
{{ form_row(form.lastname) }}
{{ form_row(form.email) }}
{{ form_row(form.birthday) }}
{{ form_row(form.password.first) }}
{{ form_row(form.password.second) }}
{{ form_row(form.submit) }}
{{ form_end(form) }}
</div>
{% endblock %}
